Repository Quantalabs/DiffPriv, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, documentation

.github/labeler.yml:

tests:
  - tests/*

src:
  - setup.py
  - DiffPriv/*
  - setup.cfg
  - requirements.txt
  - pyproject.toml

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

documentation:
  - docs/*

Create mod.yml
  .github/workflows/mod.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Update mod.yml
  .github/workflows/mod.yml
Labels: none

Create claim.yml
  .github/workflows/claim.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Remove formatting for commands, for better readability
  DiffPriv/cli.py
Labels: src

Update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Fix version error in `__init__.py`
  DiffPriv/__init__.py
  scripts/release.py
Labels: src

Prepare for `v1.0.2`
  DiffPriv/__init__.py
  setup.cfg
  setup.py
Labels: src

Remove formatting for CLI
  DiffPriv/cli.py
Labels: src

Update Changelog
  CHANGELOG.md
Labels: none

Update tests
  tests/init_test.py
Labels: tests

Update changelog
  CHANGELOG.md
Labels: none

Fix laplace problem from #26
  DiffPriv/diff.py
Labels: src

Final fix of #26
  DiffPriv/diff.py
Labels: src

Fix suggestion from @quantum9Innovation
  DiffPriv/diff.py
Labels: src

Patch #26 (#27)
  DiffPriv/diff.py
Labels: src

Patch #26 (#27)
  DiffPriv/diff.py
Labels: src

`v1.0.3`
  CHANGELOG.md
  DiffPriv/__init__.py
  DiffPriv/cli.py
  setup.cfg
  setup.py
  tests/init_test.py
Labels: tests, src

`v1.0.3`
  CHANGELOG.md
  DiffPriv/__init__.py
  DiffPriv/cli.py
  setup.cfg
  setup.py
  tests/init_test.py
Labels: tests, src

Remove version test
  tests/init_test.py
Labels: tests

Remove version test (#30)
  tests/init_test.py
Labels: tests

Create SECURITY.md
  SECURITY.md
Labels: none

Add `SECURITY.md` (#31)
  SECURITY.md
Labels: none

Remove travis and port to github actions
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .travis.yml
Labels: none

Change workflow name to build
  .github/workflows/test.yml
Labels: none

Update status badge on `README.md`
  README.md
Labels: none

Remove Travis CI (#32)
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .travis.yml
  README.md
Labels: none

Update version No.
  setup.py
Labels: src

Begins work on the `mech` module This is in line with the DiffPriv v2 roadmap (published in discussion #33).
  DiffPriv/__init__.py
  DiffPriv/mech/__init__.py
  DiffPriv/mech/main.py
  DiffPriv/mech/pre.py
  DiffPriv/mech/utils.py
  DiffPriv/mech/validate.py
Labels: src

Update setup.py
  setup.py
Labels: src

Fix (1)
  DiffPriv/mech/utils.py
  DiffPriv/mech/validate.py
Labels: none

Fix (2)
  DiffPriv/mech/main.py
  DiffPriv/mech/validate.py
Labels: none

Fix (2)
  DiffPriv/mech/main.py
  DiffPriv/mech/validate.py
Labels: none

Partially fix (3)
  tests/mech/v2a1_test.py
Labels: none

Patch 33 (#35)
  DiffPriv/__init__.py
  DiffPriv/mech/__init__.py
  DiffPriv/mech/main.py
  DiffPriv/mech/pre.py
  DiffPriv/mech/utils.py
  DiffPriv/mech/validate.py
  setup.py
  tests/mech/v2a1_test.py
Labels: src

Update README
  README.md
Labels: none

Update version on setupcfg
  setup.cfg
Labels: src

Update Changelog
  CHANGELOG.md
Labels: none
