Repository Quantalabs/DiffPriv, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, documentation

Change Secret Name in Workflow
  .github/workflows/python-publish.yml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Change file names
  DiffPriv/diff.py
  DiffPriv/enc.py
  DiffPriv/private.py
Labels: src

Add reverse cipher
  DiffPriv/enc.py
Labels: src

Switch to code climate instead of deepsource
  .deepsource.toml
  README.md
Labels: none

Fix import problem
  DiffPriv/__init__.py
Labels: src

Fix tests and imports
  DiffPriv/__init__.py
  tests/private_test.py
Labels: tests, src

Fix code coverage
  DiffPriv/diff.py
  DiffPriv/enc.py
  README.md
Labels: src

Add enc test
  tests/enc-test.py
Labels: tests

Add encryption
  DiffPriv/diff.py
  DiffPriv/enc.py
  tests/enc-test.py
  tests/enc_test.py
Labels: tests, src

Fix tests
  tests/enc_test.py
Labels: tests

Add cli
  DiffPriv/__init__.py
  DiffPriv/cli.py
  setup.py
Labels: src

Update README.md
  README.md
Labels: none

Add tests for the cli and fix bugs in the cli
  .gitignore
  DiffPriv/cli.py
  tests/cli_test.py
  tests/init_test.py
Labels: tests, src

Fix CLI Tests
  tests/cli_test.py
Labels: tests

GitBook: [master] 8 pages modified
  .github/README.md
  .github/issue_template/README.md
  .github/issue_template/bug.md
  .github/issue_template/feature.md
  .github/pull_request_template.md
  README.md
  SUMMARY.md
  contributing.md
Labels: repo

Revert "GitBook: [master] 8 pages modified"
  .github/README.md
  .github/issue_template/README.md
  .github/issue_template/bug.md
  .github/issue_template/feature.md
  .github/pull_request_template.md
  README.md
  SUMMARY.md
  contributing.md
Labels: repo

Update README.md
  README.md
Labels: none

Update .readthedocs.yml
  .readthedocs.yml
Labels: none

Add porta cipher
  DiffPriv/enc.py
Labels: src

Add tests and fix bugs for Porta encryption
  DiffPriv/enc.py
  tests/enc_test.py
Labels: tests, src

Fix tests for higher code coverage
  tests/enc_test.py
Labels: tests

Get 100% Code Coverage
  DiffPriv/cli.py
  tests/enc_test.py
Labels: tests, src

Fix cli bug
  DiffPriv/cli.py
Labels: src

Remove code climate and use deepsource instead
  README.md
  deepsource.toml
Labels: none

Rename `deepsource.toml` to `.deepsource.toml` for analysis to work
  .deepsource.toml
Labels: none

Fix deepsource errors
  DiffPriv/enc.py
Labels: src

Use markdown syntax in docstrings instead
  DiffPriv/diff.py
  DiffPriv/enc.py
Labels: src

Add `--help`, `porta`, and `portadec` to the CLI and add tests
  .gitignore
  DiffPriv/cli.py
  DiffPriv/diff.py
  tests/cli_test.py
Labels: tests, src

Use pdoc instead of sphinx
  DiffPriv/__init__.py
  DiffPriv/enc.py
  README.md
  docs/DiffPriv.png
  docs/Exponential Mechanism.rst
  docs/Install.rst
  docs/Laplace Mechanism.rst
  docs/Makefile
  docs/Random Response.rst
  docs/conf.py
  docs/diagram.png
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Labels: src, documentation

Add docs generated by [pdoc](https://pdoc.dev)
  docs/DiffPriv.html
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/index.html
  docs/search.json
Labels: documentation

Set theme jekyll-theme-cayman
  docs/_config.yml
Labels: documentation

Add pdoc to `docs/requirements.txt`
  docs/requirements.txt
Labels: documentation

Add documentation for `cli.py`
  DiffPriv/cli.py
Labels: src

Add pdoc generated documentation with updated docs for the CLI
  docs/DiffPriv/cli.html
  docs/search.json
Labels: documentation

Update README.md
  README.md
Labels: none

Update docs with `README.md` changes
  docs/DiffPriv.html
  docs/search.json
Labels: documentation

Fix #12
  DiffPriv/__init__.py
Labels: src

.github/labeler.yml:

tests:
  - tests/*

src:
  - setup.py
  - DiffPriv/*
  - setup.cfg
  - requirements.txt
  - pyproject.toml

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

documentation:
  - docs/*
