Repository Quantalabs/DiffPriv, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, documentation

Remove `luddite` from `requirements.txt`
  requirements.txt
Labels: src

Add `skipcq` rule for deepsource
  DiffPriv/cli.py
Labels: src

Add `skipcq` rule for deepsource
  DiffPriv/__init__.py
Labels: src

Fix deepsource error
  DiffPriv/__init__.py
Labels: src

Update .deepsource.toml
  .deepsource.toml
Labels: none

Update README.md
  README.md
Labels: none

Add new docs from previous commit
  docs/DiffPriv.html
  docs/search.json
Labels: documentation

Fix README and add new docs
  README.md
  docs/DiffPriv.html
  docs/search.json
Labels: documentation

Fix yet another README error and add new docs
  README.md
  docs/DiffPriv.html
  docs/search.json
Labels: documentation

Add SSS division algorithm Accessible via `DiffPriv.enc.SSS.divide()`
  DiffPriv/enc.py
Labels: src

Raise `ValueError` instead of warning
  DiffPriv/enc.py
Labels: src

Use sphinx instead of pdoc
  DiffPriv/__init__.py
  DiffPriv/cli.py
  DiffPriv/enc.py
  README.md
  docs/DiffPriv.html
  docs/DiffPriv.png
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/Exponential Mechanism.rst
  docs/Install.rst
  docs/Laplace Mechanism.rst
  docs/Makefile
  docs/Random Response.rst
  docs/_config.yml
  docs/conf.py
  docs/diagram.png
  docs/index.html
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
  docs/search.json
Labels: src, documentation

Prepare for v1.0.0-alpha release
  .gitignore
  setup.cfg
  setup.py
Labels: src

Create CHANGELOG.md
  CHANGELOG.md
Labels: none

Initial Site Commit
  CHANGELOG.md
  CNAME
  docs/DiffPriv.html
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/_config.yml
  docs/index.html
  docs/requirements.txt
  docs/search.json
  index.md
Labels: documentation

Fix changlog to render better with jekyll
  CHANGELOG.md
Labels: none

Fix markdown to render better with jekyll
  CHANGELOG.md
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

_Final_ changes before publishing next release
  setup.cfg
Labels: src

Another *small* change before publishing
  setup.cfg
Labels: src

Update python-publish.yml
  .github/workflows/python-publish.yml
Labels: none

Update README.md
  README.md
Labels: none

Add config changes
  _config.yml
  assets/img/logo.png
Labels: none

Fix circular import error
  DiffPriv/__init__.py
  DiffPriv/cli.py
  DiffPriv/diff.py
  setup.cfg
  tests/init_test.py
Labels: tests, src

Fix CLI error
  DiffPriv/cli.py
Labels: src

Fix CLI Error and add Tests for the CLI
  DiffPriv/__init__.py
  DiffPriv/cli.py
  setup.cfg
  setup.py
  tests/cli_test.py
  tests/init_test.py
Labels: tests, src

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update installation instructions
  README.md
Labels: none

Fix workflow error
  .github/workflows/python-publish.yml
Labels: none

Add new changelog with v1.0.0b0
  CHANGELOG.md
Labels: none

Add updated documentation
  docs/DiffPriv.html
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/search.json
Labels: documentation

Remove `docs/` folder
  docs/DiffPriv.html
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/_config.yml
  docs/index.html
  docs/requirements.txt
  docs/search.json
Labels: documentation

Update diff.py
  DiffPriv/diff.py
Labels: src

Adds encryption mechanism to `DiffPriv.enc.SSS` Minimal documentation is available at this time
  DiffPriv/__init__.py
  DiffPriv/enc.py
Labels: src

Adds decryption progress benchmark for SSS See GitHub Issues
  DiffPriv/enc.py
Labels: src

Fix all issues in previous commit SSS is now up and working *with* `pytest`!
  DiffPriv/enc.py
  tests/sss_test.py
Labels: tests, src

Fix DeepSource Alerts
  DiffPriv/enc.py
Labels: src

Update __init__.py
  DiffPriv/__init__.py
Labels: src

Update sss_test.py
  tests/sss_test.py
Labels: tests

Update diff.py
  DiffPriv/diff.py
Labels: src

.github/labeler.yml:

tests:
  - tests/*

src:
  - setup.py
  - DiffPriv/*
  - setup.cfg
  - requirements.txt
  - pyproject.toml

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

documentation:
  - docs/*
