Repository Quantalabs/DiffPriv, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, documentation

.github/labeler.yml:

tests:
  - tests/*

src:
  - setup.py
  - DiffPriv/*
  - setup.cfg
  - requirements.txt
  - pyproject.toml

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

documentation:
  - docs/*

Security fix (see description)
  DiffPriv/diff.py
  DiffPriv/enc.py
Labels: src

Prepare for next release
  DiffPriv/__init__.py
  setup.cfg
  setup.py
Labels: src

Fix Tests
  tests/init_test.py
Labels: tests

Update changelog
  CHANGELOG.md
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

Fix verision warning
  DiffPriv/__init__.py
Labels: src

Update README.md
  README.md
Labels: none

Update metadata and README.md
  README.md
  setup.cfg
Labels: src

Prepare for `v1.0.0`
  CHANGELOG.md
  DiffPriv/__init__.py
  README.md
  setup.cfg
  setup.py
  tests/init_test.py
Labels: tests, src

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update docs
  docs/DiffPriv.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/_config.yml
  docs/requirements.txt
Labels: documentation

Update index.md
  index.md
Labels: none

Update README.md
  README.md
Labels: none

Fix BAN-B310 error
  DiffPriv/__init__.py
Labels: src

Add `# pragma; no cover` to fix coverage error
  DiffPriv/__init__.py
Labels: src

Fix version warning
  DiffPriv/__init__.py
Labels: src

Update __init__.py
  DiffPriv/__init__.py
Labels: src

Add `release.py`
  scripts/release.py
Labels: none

Update version info
  CHANGELOG.md
  DiffPriv/__init__.py
  setup.cfg
  setup.py
Labels: src

Update init_test.py
  tests/init_test.py
Labels: tests

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update documentation
  docs/DiffPriv.html
  docs/search.json
Labels: documentation

Update index.md
  index.md
Labels: none

Delete .readthedocs.yml
  .readthedocs.yml
Labels: none

Add `CODEOWNERS`
  .github/CODEOWNERS
Labels: repo

`# pragma: no cover` warnings in `enc.py` Solves code coverage issue on #17
  DiffPriv/enc.py
  tests/sss_test.py
Labels: tests, src

[Feature] Shamir's Secret Sharing System (#17)
  DiffPriv/__init__.py
  DiffPriv/diff.py
  DiffPriv/enc.py
  tests/sss_test.py
Labels: tests, src

Update __init__.py
  DiffPriv/__init__.py
Labels: src

Create claim.yml
  .github/workflows/claim.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Create mod.yml
  .github/workflows/mod.yml
Labels: none

Update mod.yml
  .github/workflows/mod.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Add documentation for `v1.0.2.`
  docs/DiffPriv.html
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/index.html
  docs/search.json
Labels: documentation

Update claim.yml
  .github/workflows/claim.yml
Labels: none

Update __init__.py
  DiffPriv/__init__.py
Labels: src
