Repository Quantalabs/DiffPriv, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, documentation

.github/labeler.yml:

tests:
  - tests/*

src:
  - setup.py
  - DiffPriv/*
  - setup.cfg
  - requirements.txt
  - pyproject.toml

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

documentation:
  - docs/*

Update documentation
  v2a1/DiffPriv.html
  v2a1/DiffPriv/cli.html
  v2a1/DiffPriv/diff.html
  v2a1/DiffPriv/enc.html
  v2a1/DiffPriv/mech.html
  v2a1/DiffPriv/mech/main.html
  v2a1/DiffPriv/mech/pre.html
  v2a1/DiffPriv/mech/utils.html
  v2a1/DiffPriv/mech/validate.html
  v2a1/index.html
  v2a1/search.js
Labels: none

Update index.md
  index.md
Labels: none

Add random response mechanism as a prebuilt mechanism in `mech.pre`
  DiffPriv/mech/main.py
  DiffPriv/mech/pre.py
  DiffPriv/mech/validate.py
Labels: none

[`v2a2`] Fix bugs and version bump
  CHANGELOG.md
  DiffPriv/mech/pre.py
  README.md
  setup.cfg
  setup.py
  tests/mech/v2a1_test.py
Labels: src

Update Changelog
  CHANGELOG.md
Labels: none

Add docs
  em-encrypted_test.csv
  index.md
  key.csv
  lm-encrypted_test.csv
  output.txt
  porta_test.txt
  rciphtext.txt
  routput.txt
  text.txt
  v2a2/DiffPriv.html
  v2a2/DiffPriv/cli.html
  v2a2/DiffPriv/diff.html
  v2a2/DiffPriv/enc.html
  v2a2/DiffPriv/mech.html
  v2a2/DiffPriv/mech/main.html
  v2a2/DiffPriv/mech/pre.html
  v2a2/DiffPriv/mech/utils.html
  v2a2/DiffPriv/mech/validate.html
  v2a2/index.html
  v2a2/search.js
  v2a2/search.json
Labels: none

Add laplace and exponential mechanisms to pre-built mechanisms
  DiffPriv/__init__.py
  DiffPriv/diff.py
  DiffPriv/mech/pre.py
Labels: src

Update tests and bump version
  README.md
  setup.cfg
  setup.py
  tests/mech/v2a3_test.py
  tests/private_test.py
Labels: tests, src

Update changelog
  CHANGELOG.md
Labels: none

Fix bug with `pre.py`
  DiffPriv/mech/__init__.py
  DiffPriv/mech/pre.py
Labels: none

`v2.0.0-alpha3`
  DiffPriv/mech/pre.py
Labels: none

Add documentation for `v2a3`
  v2a3/DiffPriv.html
  v2a3/DiffPriv/cli.html
  v2a3/DiffPriv/diff.html
  v2a3/DiffPriv/enc.html
  v2a3/DiffPriv/mech.html
  v2a3/DiffPriv/mech/main.html
  v2a3/DiffPriv/mech/pre.html
  v2a3/DiffPriv/mech/utils.html
  v2a3/DiffPriv/mech/validate.html
  v2a3/index.html
  v2a3/search.js
  v2a3/search.json
Labels: none

Update index.md
  index.md
Labels: none

Update warning message
  DiffPriv/__init__.py
Labels: src

Version Bump
  README.md
  setup.cfg
  setup.py
Labels: src

`v2.0.0b1`
  CHANGELOG.md
  DiffPriv/__init__.py
  DiffPriv/mech/__init__.py
Labels: src

Bug fix
  DiffPriv/__init__.py
Labels: src

FIx tests
  tests/init_test.py
Labels: tests

`v2.0.0-beta1`
  README.md
Labels: none

`2.0.0b2`
  DiffPriv/__init__.py
  README.md
  setup.cfg
  setup.py
Labels: src

Update CHANGELOG.md
  CHANGELOG.md
Labels: none
