Repository Quantalabs/DiffPriv, pull requests merged in 2021-05, with the labels that each got.

#13 Fix #12
  DiffPriv/__init__.py
  DiffPriv/cli.py
  requirements.txt
Labels: dependencies, src

#11 Sphinx to pdoc
  DiffPriv/__init__.py
  DiffPriv/cli.py
  DiffPriv/enc.py
  README.md
  docs/DiffPriv.html
  docs/DiffPriv.png
  docs/DiffPriv/cli.html
  docs/DiffPriv/diff.html
  docs/DiffPriv/enc.html
  docs/Exponential Mechanism.rst
  docs/Install.rst
  docs/Laplace Mechanism.rst
  docs/Makefile
  docs/Random Response.rst
  docs/_config.yml
  docs/conf.py
  docs/diagram.png
  docs/index.html
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
  docs/search.json
Labels: documentation, enhancement, src

#17 [Feature] Shamir's Secret Sharing System
  DiffPriv/__init__.py
  DiffPriv/diff.py
  DiffPriv/enc.py
  tests/sss_test.py
Labels: enhancement, help wanted, src, tests
